<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175567429746-pbd7vgd4le6f35h0e1nh7krv1m4en6da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175567429746-pbd7vgd4le6f35h0e1nh7krv1m4en6da</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3dUdQUo1n0Cp1Be9QbcWubiCLhv-CKc</string>
	<key>GCM_SENDER_ID</key>
	<string>175567429746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashDiscover</string>
	<key>PROJECT_ID</key>
	<string>cash-discover-hack-week</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-discover-hack-week.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175567429746:ios:ca8c2b2142266d1625e2eb</string>
</dict>
</plist>